@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.blogInfo {
  text-align: center;
  font-family: "Nunito", sans-serif;
  h4 {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #ff414d;
    text-transform: uppercase;
    font-weight: 700;
  }
  h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.4;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
  }
}
.cards {
  margin-top: 40px;
  font-family: "Nunito", sans-serif;
  .card {
    overflow: hidden;
    border-radius: 4px;
    .image {
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .author {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        bottom: 10px;
        left: 13px;
        background: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        border-radius: 4px;
        width: 90%;
        .name {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          img {
            width: 34px;
            height: 34px;
            border-radius: 50%;
          }
          span {
            color: rgba(0, 0, 0, 0.7);
            font-weight: 700;
            font-size: 14px;
          }
        }
        .heart {
          span {
            svg {
              color: #ff414d;
              cursor: pointer;
              font-size: 18px;
            }
          }
        }
      }
    }
    .texts {
      background-color: #fff;
      padding: 30px;
      .numbers {
        display: flex;
        flex-direction: row;
        gap: 10px;
        span {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          color: #999999;
        }
        a {
          color: #ff414d;
          text-decoration: none;
          font-size: 13px;
          font-weight: 600;
        }
      }
      .about{
        margin-top: 25px;
        h3{
            color: #000000;
            font-size: 20px;
            font-weight: 700;
        }
        h5{
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: #999999;
        }
      }
    }
  }
}
