@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.home {
  background-image: url("../../assets/bg1.webp");
  min-height: 700px;
  background-position: center;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  .main_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    .header {
      text-align: center;
      h1 {
        font-weight: 700;
        color: #fff;
        font-size: 64px;
        line-height: 1.2;
        max-width: 600px;
      }
      p {
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: #999999;
      }
    }
    .inputs {
      margin-top: 40px;
      margin-bottom: 100px;
      .form {
        position: relative;
        input,
        select,
        button {
          width: 100%;
          padding: 0.8rem 1rem;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.4);
          border: none;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
        button {
          color: #fff;
          background: #ff414d;
        }
        svg {
          position: absolute;
          font-size: 14px;
          left: 3px;
          top: 17px;
          color: #999999;
        }
        .search {
          position: absolute;
          font-size: 16px;
          color: #fff;
          left: 35px;
          top: 15px;
        }
      }
    }
  }
}
.categories {
  background: #f0f4f7;
}
.howWorks{
  margin-top: 100px;
}
